.Title{
    color: #16325c;
}
.treatment-card img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.treatment-card .badge {
  font-size: 0.8rem;
  background-color: #f0f0f0;
  color: #1d2d50;
  font-weight: 500;
}

.treatment-card .btn-primary {
  background-color: #1d2d50;
  border: none;
}

.treatment-card .btn-primary:hover {
  background-color: #16325c;
}
